In [74]:
%pip install pandas sqlite3 tabulate

Looking in indexes: https://pypi.org/simple, https://nexus.quintoandar.com.br/repository/pip-5a/, https://quintoandar.github.io/python-package-server/
Requirement already satisfied: pandas in /Users/gabriel.dantas/pyenv/versions/3.9.12/lib/python3.9/site-packages (2.2.2)
ERROR: Could not find a version that satisfies the requirement sqlite3 (from versions: none)
ERROR: No matching distribution found for sqlite3
WARNING: You are using pip version 22.0.4; however, version 24.0 is available.
You should consider upgrading via the '/Users/gabriel.dantas/pyenv/versions/3.9.12/bin/python -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [47]:
import pandas as pd
df = pd.read_csv("datasource/csv/Producao.csv", delimiter=";")
df.head()

    id                                    produto       1970       1971  \
0    1                              VINHO DE MESA  217208604  154264651
1    2                                      Tinto  174224052  121133369
2    3                                     Branco     748400    1160500
3    4                                     Rosado   42236152   31970782
4    5              VINHO FINO DE MESA (VINÍFERA)   23899346   23586062
5    6                                      Tinto    7591557    7265666
6    7                                     Branco   15562889   15655709
7    8                                     Rosado     744900     664687
8    9                                       SUCO    1097771    2296654
9   10                       Suco de uva integral    1097771    2296654
10  11                    Suco de uva concentrado          0          0
11  12                        Suco de uva adoçado          0          0
12  13                       Suco de uva orgânico          0          0
13  14                  Suco de uva reconstituído          0          0
14  15                                  DERIVADOS   14164329   13280518
15  16                                  Espumante          0          0
16  17                         Espumante moscatel          0          0
17  18                             Base espumante          0          0
18  19                    Base espumante moscatel          0          0
19  20                 Base Champenoise champanha          0          0
20  21                     Base Charmat champanha          0          0
21  22                              Bebida de uva          0          0
22  23                               Polpa de uva          0          0
23  24                              Mosto simples    7170736    7646774
24  25                          Mosto concentrado          0          0
25  26                    Mosto de uva com bagaço          0          0
26  27                         Mosto dessulfitado          0          0
27  28                                   Mistelas    1072100     818400
28  29                              Néctar de uva          0          0
29  30                                  Licorosos     282500     270000
30  31                                  Compostos          0      45000
31  32                                   Jeropiga          0          0
32  33                                   Filtrado          0          0
33  34                                   Frisante          0          0
34  35                                 Vinho leve          0          0
35  36                             Vinho licoroso          0          0
36  37                                     Brandy          0          0
37  38                                  Destilado     830030          0
38  39                                  Bagaceira     961290     913200
39  40                         Licor de bagaceira          0          0
40  41                                    Vinagre          0      21500
41  42                              Borra líquida    3847673    3565644
42  43                                 Borra seca          0          0
43  44                             Vinho Composto          0          0
44  45                                      Pisco          0          0
45  46                             Vinho orgânico          0          0
46  47                         Espumante orgânico          0          0
47  48  Destilado alcoólico simples de bagaceira           0          0
48  49                         Vinho acidificado           0          0
49  50             Mosto parcialmente fermentado           0          0
50  51                           Outros derivados          0          0

         1972       1973       1974       1975       1976       1977  ...  \
0   146953297  116710345  193875345  177401209  144565438  195359778  ...
1   118180926   88589019  146544484  144274134  118360170  154801826  ...
2     1812367     243900    4138768    1441507    1871473    4954387  ...
3    26960004   27877426   43192093   31685568   24333795   35603565  ...
4    21078771   12368410   31644124   39424590   34500590   41264971  ...
5     6782837    3419625   10047658   14731106   12405154   16131758  ...
6    13289304    7930070   18927471   21933695   19874659   20409231  ...
7     1006630    1018715    2668995    2759789    2220777    4723982  ...
8     3509440          0          0          0          0          0  ...
9     3509440          0          0          0          0          0  ...
10          0          0          0          0          0          0  ...
11          0          0          0          0          0          0  ...
12          0          0          0          0          0          0  ...
13          0          0          0          0          0          0  ...
14   12314509   28317919   47904934   53633143   22925012   24015856  ...
15          0          0          0          0          0          0  ...
16          0          0          0          0          0          0  ...
17          0          0          0          0          0          0  ...
18          0          0          0          0          0          0  ...
19          0          0          0          0          0          0  ...
20          0          0          0          0          0          0  ...
21          0          0          0          0          0          0  ...
22          0          0          0          0          0          0  ...
23    6051822   21779327   41346735   48185206   18220527   22097156  ...
24          0          0          0          0          0          0  ...
25          0          0          0          0          0          0  ...
26          0          0          0          0          0          0  ...
27     871200     512900     826300     223000     205500     553200  ...
28          0          0          0          0          0          0  ...
29     254600     176500     135000      24000       4400     525000  ...
30    1358300    1628000          0          0          0          0  ...
31          0          0          0          0     107500      12500  ...
32          0          0          0          0          0          0  ...
33          0          0          0          0          0          0  ...
34          0          0          0          0          0          0  ...
35          0          0          0          0          0          0  ...
36          0          0          0          0          0          0  ...
37          0          0          0          0          0          0  ...
38     755350     661270     424620     576098     705912     828000  ...
39          0          0          0          0          0          0  ...
40       8200          0      35300          0     288000          0  ...
41    3015037    3559922    5136979    4624839    3393173          0  ...
42          0          0          0          0          0          0  ...
43          0          0          0          0          0          0  ...
44          0          0          0          0          0          0  ...
45          0          0          0          0          0          0  ...
46          0          0          0          0          0          0  ...
47          0          0          0          0          0          0  ...
48          0          0          0          0          0          0  ...
49          0          0          0          0          0          0  ...
50          0          0          0          0          0          0  ...

         2013       2014       2015      2016       2017       2018  \
0   196904222  196173123  210308560  86319015  255015187  218375636
1   163111797  157776363  169811472  75279191    1365957  188270142
2    32066403   37438069   39557250  10727099  217527985   29229970
3     1726022     958691     939838    312725   36121245     875524
4    45782530   38464314   37148982  18070626   44537870   38707220
5    23156458   17208996   16745896   8774847   21442212   19118254
6    21906349   20054804   19561966   8705066   21928400   18297257
7      719723    1200514     841120    590713    1167258    1291709
8    64879790   76723537   87894468  42210389   77161971   65467906
9    33673396   43331223   52233155  31117869   46865626   34367996
10   31206394   33392314   35661313  11092520   30059271   31099910
11          0          0          0         0     177774          0
12          0          0          0         0          0          0
13          0          0          0         0      59300          0
14   64072127   62907281  107349704  53950314  109116761   95202101
15      30275       2700      23750      1500      11280      68500
16     159781     100000     110100    100000     152375     326200
17          0          0          0         0          0          0
18    1470700    1808044    1607727   1325700    1965629    1320650
19     359617     234725     605001    740395    1552403     228518
20     624728     376968    1466259    250280     893364    1746540
21       4260       3860        922      3474          0          0
22    1742152    2484000    2371140   1620430    2507125    2112683
23   58517506   57582195  100911592  49770993  101010116   88910980
24          0          0          0         0          0          0
25          0          0          0         0     772110          0
26          0          0          0         0          0          0
27       2500       1000          0         0       1500       2000
28      10000       1140       1000         0       3000          0
29          0          0          0         0     110820          0
30          0          0          0         0          0          0
31          0          0          0         0          0          0
32          0          0          0         0          0          0
33    1009000      26069          0         0          0          0
34          0          0          0         0          0       8000
35        100      36000      56000     24200     110820     124303
36          0          0          0         0          0          0
37          0          0          0         0          0        680
38          0          0       1350      1000        900       2100
39          0          0          0         0          0          0
40          0      53776      25800      5000      25319      25367
41      63111      50954      48833     24975          0     255100
42      78397     142850     120230     82367          0      70480
43          0       3000          0         0          0          0
44          0          0          0         0          0          0
45          0          0          0         0          0          0
46          0          0          0         0          0          0
47          0          0          0         0          0          0
48          0          0          0         0          0          0
49          0          0          0         0          0          0
50          0          0          0         0          0          0

         2019       2020       2021       2022
0   144629737  124200414  173899995  195031611
1   121045115  103916391  146075996  162844214
2    22032828   19568734   26432799   30198430
3     1551794     715289    1391200    1988968
4    37615422   32516686   43474998   47511796
5    17389377   15451883   20433249   24417918
6    18193055   15487915   20867999   20896613
7     2032990    1576888    2173750    2197265
8    77805352   69261287  100932264   65809079
9    50239767   40718523   68038479   35248305
10   26861009   27963865   32131218   29892550
11     120320     107289      40450      79130
12          0     471610     722117     589094
13     584256          0          0          0
14  142888747   92533804  169031493  138501226
15      52176      32399      70091      70759
16     515800     689139      11950      27200
17          0          0    5475049          0
18    1962443    3006705    5549471    6308043
19     274903     200777          0    1146717
20    1188095    2487939          0    4078766
21          0          0       2000          0
22    1480269    1803472    1180578     387886
23  135614344   80355474  153579926  126048241
24          0          0          0          0
25     645816    3078256     618764          0
26       1000       5000    1532000          0
27       3000          0       2500          0
28      32519      46000      18187          0
29          0          0          0          0
30          0          0          0          0
31          0       2000       3540       5000
32          0          0          0          0
33          0          0       1390          0
34          0          0          0          0
35      99485      48678      30000      67000
36          0          0        120          0
37          0          0          0          0
38      10495          0      12060       4998
39       1507       5800          0          0
40      76096      10000       7500      16200
41     901431     509378     116450          0
42      25996     167587      16789          0
43          0          0     160000          0
44       3372       1000          0          0
45          0      18700      93884      88890
46          0          0       2412          0
47          0        500       3000       4300
48          0      65000          0          0
49          0          0     543510          0
50          0          0        322     247228

[51 rows x 55 columns]

In [48]:
df.head()

,id,produto,1970,1971,1972,1973,1974,1975,1976,1977,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,1,VINHO DE MESA,217208604,154264651,146953297,116710345,193875345,177401209,144565438,195359778,...,196904222,196173123,210308560,86319015,255015187,218375636,144629737,124200414,173899995,195031611
1,2,Tinto,174224052,121133369,118180926,88589019,146544484,144274134,118360170,154801826,...,163111797,157776363,169811472,75279191,1365957,188270142,121045115,103916391,146075996,162844214
2,3,Branco,748400,1160500,1812367,243900,4138768,1441507,1871473,4954387,...,32066403,37438069,39557250,10727099,217527985,29229970,22032828,19568734,26432799,30198430
3,4,Rosado,42236152,31970782,26960004,27877426,43192093,31685568,24333795,35603565,...,1726022,958691,939838,312725,36121245,875524,1551794,715289,1391200,1988968
4,5,VINHO FINO DE MESA (VINÍFERA),23899346,23586062,21078771,12368410,31644124,39424590,34500590,41264971,...,45782530,38464314,37148982,18070626,44537870,38707220,37615422,32516686,43474998,47511796

In [49]:
df_melted = df.melt(id_vars=['id', 'produto'], var_name='ano', value_name='valor')

print(df_melted)

indice_vinho_de_mesa = df[df['produto'] == 'VINHO DE MESA'].index[0]
indice_vinho_fino = df[df['produto'] == 'VINHO FINO DE MESA (VINÍFERA)'].index[0]
print("indice_vinho_de_mesa", indice_vinho_de_mesa, "indice_vinho_fino", indice_vinho_fino)

# # Dividir os dados em duas tabelas
# df_produto = df_melted[['id', 'produto']].drop_duplicates().reset_index(drop=True)
# df_vendas = df_melted[['id', 'ano', 'valor']]

      id                                    produto   ano      valor
0      1                              VINHO DE MESA  1970  217208604
1      2                                      Tinto  1970  174224052
2      3                                     Branco  1970     748400
3      4                                     Rosado  1970   42236152
4      5              VINHO FINO DE MESA (VINÍFERA)  1970   23899346
...   ..                                        ...   ...        ...
2698  47                         Espumante orgânico  2022          0
2699  48  Destilado alcoólico simples de bagaceira   2022       4300
2700  49                         Vinho acidificado   2022          0
2701  50             Mosto parcialmente fermentado   2022          0
2702  51                           Outros derivados  2022     247228

[2703 rows x 4 columns]
indice_vinho_de_mesa 0 indice_vinho_fino 4

In [70]:
import uuid

df_to_transform = df_melted.copy()

categoria_atual = None
for idx, row in df_to_transform.iterrows():
    if row['produto'].isupper():
        categoria_atual = row['produto']
    else:
        df_to_transform.loc[idx, 'categoria'] = categoria_atual

df_final = df_to_transform[df_to_transform['categoria'].notnull()]
df_final['product_id'] = [uuid.uuid4() for _ in range(len(df_final))]

df_final.to_csv("datasource/csv/Producao_transformed.csv", index=False)

df_final.head()

/var/folders/t2/n8s666yx17sb51gd12d2d3mc0000gp/T/ipykernel_88905/2673317425.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['product_id'] = [uuid.uuid4() for _ in range(len(df_final))]

,id,produto,ano,valor,categoria,product_id
1,2,Tinto,1970,174224052,VINHO DE MESA,3657b0f2-ba01-4bf0-ae5f-2a82b88ee654
2,3,Branco,1970,748400,VINHO DE MESA,9b91183d-d74b-4cf5-924b-6110343ffede
3,4,Rosado,1970,42236152,VINHO DE MESA,f33d715a-9abd-4a73-9868-253cc655d74b
5,6,Tinto,1970,7591557,VINHO FINO DE MESA (VINÍFERA),cbc92a2f-23ec-4294-af91-cf58e243ad1e
6,7,Branco,1970,15562889,VINHO FINO DE MESA (VINÍFERA),2bdf98e6-cd07-4a36-8ca2-c388b7c931a1

In [73]:
import sqlite3

conn = sqlite3.connect('dados.db')

# Criação de um cursor
cur = conn.cursor()

# Criação da tabela de produtos e vendas
cur.execute('''CREATE TABLE IF NOT EXISTS produtos_vendas
            (product_id TEXT PRIMARY KEY, produto TEXT, categoria TEXT, ano INTEGER, valor INTEGER)''')

# Inserção dos dados na tabela de produtos e vendas
for idx, row in df_final.iterrows():
    cur.execute(
        "INSERT INTO produtos_vendas (product_id, produto, categoria, ano, valor) VALUES (?, ?, ?, ?, ?)",
        (str(row['product_id']), row['produto'], row['categoria'], row['ano'], row['valor'])
    )

# Commit das transações
conn.commit()

# Fechamento do cursor e da conexão
cur.close()
conn.close()

In [78]:
import sqlite3
from tabulate import tabulate

# Conexão com o banco de dados SQLite
conn = sqlite3.connect('dados.db')

# Criação de um cursor
cur = conn.cursor()

# Execução da query
cur.execute('SELECT produto, SUM(valor), categoria FROM produtos_vendas GROUP BY categoria;')

# Obtenção dos resultados
rows = cur.fetchall()

# Fechamento do cursor e da conexão
cur.close()
conn.close()

# Imprimir os resultados em formato de tabela
headers = [desc[0] for desc in cur.description]
print(tabulate(rows, headers=headers, tablefmt='grid'))

+----------------------+--------------+-------------------------------+
| produto              |   SUM(valor) | categoria                     |
+======================+==============+===============================+
| Espumante            |   2350296573 | DERIVADOS                     |
+----------------------+--------------+-------------------------------+
| Suco de uva integral |   1335640723 | SUCO                          |
+----------------------+--------------+-------------------------------+
| Tinto                |  10343334614 | VINHO DE MESA                 |
+----------------------+--------------+-------------------------------+
| Tinto                |   2257050593 | VINHO FINO DE MESA (VINÍFERA) |
+----------------------+--------------+-------------------------------+