In [8]:
%pip install pandas

Looking in indexes: https://pypi.org/simple, https://nexus.quintoandar.com.br/repository/pip-5a/, https://quintoandar.github.io/python-package-server/
Collecting pandas
  Downloading pandas-2.2.2-cp311-cp311-macosx_11_0_arm64.whl.metadata (19 kB)
Collecting numpy>=1.23.2 (from pandas)
  Downloading numpy-2.0.1-cp311-cp311-macosx_14_0_arm64.whl.metadata (60 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 60.9/60.9 kB 2.9 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/gabriel.dantas/Library/Python/3.11/lib/python/site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2024.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /Users/gabriel.dantas/Library/Python/3.11/lib/python/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.2-cp311-cp311-macosx_11_0_arm64.whl (11.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.3/11.3 MB 26.4 MB/s eta 0:00:00m eta 0:00:0136m0:00:01
Downloading numpy-2.0.1-cp311-cp311-macosx_14_0_arm64.whl (5.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.3/5.3 MB 35.4 MB/s eta 0:00:00 MB/s eta 0:00:01
Downloading pytz-2024.1-py2.py3-none-any.whl (505 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 505.5/505.5 kB 44.9 MB/s eta 0:00:00
Downloading tzdata-2024.1-py2.py3-none-any.whl (345 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 345.4/345.4 kB 25.3 MB/s eta 0:00:00
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.0.1 pandas-2.2.2 pytz-2024.1 tzdata-2024.1

[notice] A new release of pip is available: 24.0 -> 24.1.2
[notice] To update, run: python3.11 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [22]:
from datetime import datetime

def get_current_date():
    return datetime.now().strftime("%Y-%m-%d")

def remove_second_line(file_path):
    with open(file_path, 'r', encoding='utf-8') as file:
        lines = file.readlines()

    for (index, line) in enumerate(lines):
        if "Tipo" in line or "Redutor" in line or "Total" in line or "IBOV" in line:
            lines.pop(index)

    with open(file_path, 'w', encoding='utf-8') as file:
        file.writelines(lines)

In [26]:
filename = '../Extract/IBOVDia_25-07-24.csv'
parquet_file = f'b3-{get_current_date()}.parquet'
bucket = 'gd-ibov-data'

## Agora eu vou tentar transformar os dados em um csv para depois virar um arquivo parquet

In [33]:
import pandas as pd
from datetime import datetime

remove_second_line(filename)

print(f"Transformando o {filename} em parquet.")
df = pd.read_csv(filename, encoding='utf-8', delimiter=";")
df.columns = ["cod", "acao", "tipo", "quantidade", "part", "other"]
df['quantidade'].str.replace('.', '').astype('int64')
df['part'] = df['part'].str.replace(',', '.').astype('float')
df['data_extracao'] = datetime.now()

df

Transformando o ../Extract/IBOVDia_25-07-24.csv em parquet.

,cod,acao,tipo,quantidade,part,other,data_extracao
0,ALOS3,ALLOS,ON NM,532.616.595,0.555,NaN,2024-07-25 23:59:41.604850
1,ALPA4,ALPARGATAS,PN N1,166.362.038,0.068,NaN,2024-07-25 23:59:41.604850
2,ABEV3,AMBEV S/A,ON,4.394.245.879,2.495,NaN,2024-07-25 23:59:41.604850
3,ARZZ3,AREZZO CO,ON NM,62.305.891,0.155,NaN,2024-07-25 23:59:41.604850
4,ASAI3,ASSAI,ON NM,1.349.217.892,0.650,NaN,2024-07-25 23:59:41.604850
...,...,...,...,...,...,...,...
80,VAMO3,VAMOS,ON NM,498.860.020,0.216,NaN,2024-07-25 23:59:41.604850
81,VBBR3,VIBRA,ON NM,1.114.613.709,1.225,NaN,2024-07-25 23:59:41.604850
82,VIVA3,VIVARA S.A.,ON NM,125.912.025,0.137,NaN,2024-07-25 23:59:41.604850
83,WEGE3,WEG,ON NM,1.482.105.837,3.329,NaN,2024-07-25 23:59:41.604850
84,YDUQ3,YDUQS PART,ON NM,289.347.914,0.148,NaN,2024-07-25 23:59:41.604850